<div class="book">
  <a href="<%= book_path(book) %>">
    <div class="book-top">
      <%# image_tag "cover.gif", {:class => "book-cover"} %>
      <span class="book-title"><%= book.title %></span>
    </div>
    <div class="book-middle"><p class="book-summery"><%= book.summary %></p></div>
</a>
  <div class="book-bottom">
    <%= render 'book_tool', book: book %>
    <ul class="book-author-category">
      <li><a href="#"><%= link_to book.authors[0].name, user_path(book.authors[0]) %></a></li>
      <li><a href="#">小说</a></li>
    </ul>
  </div>
</div>