
<div class="paper user-info-container">
  <div class="user-sidebar">
    <div class="speech-bubble"><input></input></div>
    <div class="user-sidebar-menu">
      <ul>
        <li><%= link_to "推理", "#" %></li>
        <li><%= link_to "小说", "#" %></li>
        <li><%= link_to "诗歌", "#" %></li>
        <li><%= link_to "科幻", "#" %></li>
        <li><%= link_to "游记", "#" %></li>
        <li><%= link_to "美食", "#" %></li>
        <li><%= link_to "传记", "#" %></li>
        <li><%= link_to "长篇小说", "#" %></li>
      </ul>
    </div>
  </div>
  <div class="user-books-nav">
    <div class="user-book">
      <div class="book-top">
        <%# image_tag "cover.gif", {:class => "book-cover"} %>
        <div class="book-title">A Flock of Backyard Chickens</div></div>
      <div class="book-middle"><p class="book-summery">然当此之时，秦国最雄，诸侯方弱，苏秦结之，时六国为一，以傧背秦。秦人恐惧，不敢窥兵于关中，天下不交兵者，二十有九年。然秦国势便形利，权谋之士，咸先驰之。苏秦初欲横，秦弗用，故东合从。及苏秦死后，张仪连横，诸侯听之，西向事秦。是故始皇因四塞之固，据崤、函之阻，跨陇、蜀之饶，听众人之策，乘六世之烈，以蚕食六国，兼诸侯，并有天下，杖于谋诈之弊，终无信笃之诚，无道德之教，仁义之化，以缀天下之心。任刑罚以为治，信小术以为道。</p></div>
      <div class="book-bottom">
        <ul class="book-tools">
          <li><a href="#"><span class="entypo-heart"></span></a></li>
          <li><a href="#"><span class="entypo-clock"></span></a></li>
        </ul>
        <ul class="book-author-category">
          <li>李旸</li>
          <li>小说</li>
        </ul>
      </div>
    </div>
    <div class="user-book"></div>
    <div class="user-book"></div>
    <div class="user-book"></div>
    <div class="user-book"></div>
    <div class="user-book"></div>
  </div>
</div>