
<div class="paper user-info-container">
  <div class="user-sidebar">
    <div class="speech-bubble"><input></input></div>
    <div class="user-sidebar-menu">
      <ul>
        <li><%= link_to "推理", "#" %></li>
        <li><%= link_to "小说", "#" %></li>
        <li><%= link_to "诗歌", "#" %></li>
        <li><%= link_to "科幻", "#" %></li>
        <li><%= link_to "游记", "#" %></li>
        <li><%= link_to "美食", "#" %></li>
        <li><%= link_to "传记", "#" %></li>
        <li><%= link_to "长篇小说", "#" %></li>
      </ul>
    </div>
  </div>
  <div class="user-books-nav">
    <div class="user-book"></div>
    <div class="user-book"></div>
    <div class="user-book"></div>
    <div class="user-book"></div>
    <div class="user-book"></div>
    <div class="user-book"></div>
  </div>
</div>