<!DOCTYPE html>
<html>
<head>
<%= render 'head'%>
</head>
<body>
<%= render 'header' %>

<!-- Content contains nav, section and aside parts -->
<div class="container">
  <!-- flash -->
  <% flash.each do |key, value| %>
    <% if !value.nil? %>
      <div class="alert alert-<%= key %>">
      <a class="close" href="#" data-dismiss="alert">×</a>
      <!-- be careful with the row method! -->
      <%= raw(value) %>
      </div>
    <% end %>
  <% end %>

  <!-- all the views generated here -->
  <%= yield %>

</div>

<%= render 'footer' %>

</body>
</html>
